AuthType Basic
AuthName " Statistics"
/web/httpd2/conf/1608/virtualhosts.conf- AuthName "definingsales.com Statistics"
AuthUserFile /var/chroot/home/content/15/11111715/html/stats/.statspwd
Require valid-user
DirectoryIndex index.html
